{% extends 'base.html.twig' %}

{% block title %}Avertissemets index{% endblock %}

{% block body %}
    <h1>Avertissemets index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avertissemet in avertissemets %}
            <tr>
                <td>{{ avertissemet.id }}</td>
                <td>{{ avertissemet.date ? avertissemet.date|date('Y-m-d') : '' }}</td>
                <td>{{ avertissemet.contenu }}</td>
                <td>
                    <a href="{{ path('avertissemets_show', {'id': avertissemet.id}) }}">show</a>
                    <a href="{{ path('avertissemets_edit', {'id': avertissemet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('avertissemets_new') }}">Create new</a>
{% endblock %}
